<div *ngIf="!show" style="margin-top: 12%">
  <div class="d-flex flex-column align-items-center">
    <div class="card bg-color">
      <div class="card-header">
        <h1 class="text-center">Login</h1>
      </div>
      <form class="card-body" [formGroup]="loginForm" (submit)="submitForm()">
        <div class="form-group">
          <div class="">
            <label for="email" class="mb-3 mt-3"></label><br />

            <input
              type="email"
              class="form-control"
              style="width: 500px"
              placeholder="Email"
              formControlName="email"
              
            />
            <div>
              <p *ngIf="loginForm.value['email'] == ''">
                {{ alertText }}
              </p>

              <span
                class="help-block"
                style="color: white"
                *ngIf="loginForm.controls['email'].errors?.['email']"
                >Please enter a valid email
              </span>
            </div>

            <label for="password" class="mb-3 mt-3"></label><br />

            <input
              type="password"
              class="form-control"
              style="width: 500px"
              placeholder="Password"
              formControlName="password"
            />

            <div>
              <span
                class="help-block"
                style="color: white"
                *ngIf="password && password.invalid && password.touched"
                >Please enter your password</span
              >

              <p *ngIf="loginForm.value['password'] == ''">
                {{ alertTextPassword }}
              </p>

            </div>
          </div>
        </div>
        <div class="d-flex flex-row justify-content-center">
          <button
            class="btn btn-primary mt-5 d-flex flex-row justify-content-center"
            type="submit"
            [disabled]="loginForm.invalid"
          >
            Submit
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

<div *ngIf="show">
  <router-outlet></router-outlet>
</div>
